# Sensitive JSON credentials and secrets
assets/*.json
.env
.env.*

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDEs
.idea/
*.iml
*.ipr
*.iws
.atom/
.svn/
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Firebase (if used)
.firebase/
firebase.json
firestore.rules
firestore.indexes.json

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Migration work
migrate_working_dir/
.history
.build/
.buildlog/
